body
{
    margin:0;
    padding:0;
    font-family: Century Gothic;
    background:url(Images/ab01.jpg);
}
.header
{
    height: 100px;
    width: 100%;    
    background:url(Images/ab01.jpg);
    background-size:cover;
    background-position:center;
}
.main
{
    width:50%;
    background: rgba(0,0,0,.7);
    color:#ffffff;
    text-align:center;
    padding:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.btn
{
    padding: 10px 20px;
    font-family: Century Gothic;
    font-size:large;
    font-weight:500;
    border:none;
    outline:none;
    background: #ffffff;
    border-radius: 8px;
    cursor:pointer;   
}
.btn:hover
{
 background: black;
 color:#ffffff;   
}

.Header_div
{
    width:100px;
    margin:auto;
}
.Header_Logo
{
    font-size: 75px;
    font-family: Edwardian Script ITC;
    position:absolute;
    left: 0;       
}
.Header_Menu
{
    position:absolute;
    right: 0;
}
.Header_Menu ul
{
    margin: 0px;
    padding: 0px;    
}
.Header_Menu ul li
{
    display:inline-block;
    width: 100px;    
}
.Header_Menu ul li a
{
    font-family: Calibri;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    display: block;    
}
