body 
{
     text-align:center;
     background-image:url(Images/bg03.jpg);
     background-repeat:no-repeat;
     background-size:cover;
     margin:auto;
}

.he
{
     font-family:Arial Rounded MT Bold;
     font-size:40px;
    }

.btnln
{
      border-radius:20px;
      cursor:pointer;
      transition: .3s ease-in-out;
      margin-left: 28px;
}
    
.btnln:hover
{
     background-color:Yellow;
    }
.valuser, .valpassword
{
     text-align:right;
    
    }

.txtp, .txti
{
    background:transparent;
    border-bottom:3px solid #000;
    text-align: center;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
}

.loginbox
{
    position:absolute;
    top:50%;
    left:50%;
    width:350px;
    height:420px;
    padding:80px 40px;
    background:rgba(0,0,0,0.5);
    }
    

